.About {
  position: relative;
  background-color: $lightgray;
  //   min-height: 60vh;

  &::before {
    content: "";
    position: absolute;
    border-top: 70vh solid $white;
    border-right: 100vw solid transparent;
    top: 0;
    z-index: 1;
  }

  .About__inner {
    padding: 9em 2em 3em;
    max-width: 800px;
    margin: 0 auto;
    z-index: 999;
    position: relative;
  }

  .About__title {
    font-size: 1.5em;
  }

  .About__description {
    font-size: 1.1em;
    line-height: 1.6em;
  }

  .About__skills {
    display: flex;
    flex-wrap: wrap;
    & > div {
      width: calc(100% / 6);
      margin-bottom: 1em;
    }
  }
}
