.Projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 300px);
  overflow: hidden;

  grid-template-areas:
    "project1"
    "project3"
    "project4"
    "project5"
    "project6"
    "project7";

  @include breakpoint("xsmall") {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 300px);
    grid-template-areas:
      "project1 project1"
      "project3 project3"
      "project4 project4"
      "project6 project6";
  }

  @include breakpoint("medium") {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 150px);
    grid-template-areas:
      "project1 project1 project1 project1"
      "project1 project1 project1 project1"
      "project1 project1 project1 project1"
      "project2 project2 project3 project3"
      "project2 project2 project3 project3"
      "project2 project2 project4 project4"
      "project2 project2 project4 project4"
      "project6 project6 project7 project7"
      "project6 project6 project7 project7"
      "project6 project6 project7 project7";
  }

  @include breakpoint("xmedium") {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 200px);
    grid-template-areas:
      "project1 project1 project2"
      "project1 project1 project2"
      "project1 project1 project2"
      "project3 project4 project5"
      "project3 project4 project5"
      "project6 project7 project8"
      "project6 project7 project8";
  }

  &__item-description {
    color: $white;
    font-size: 1rem;
    margin-top: 1.5rem;

    a {
      color: $green;
    }
  }

  &__item-tech {
    color: $white;
    font-size: 0.6rem;
    display: block;
    text-transform: uppercase;
  }

  &__item-title {
    color: $white;
    margin: 0;
    font-size: 1.8em;
    position: relative;
    font-weight: 900;
    // max-width: 60%;
    display: inline-block;

    &::before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 45%;
      height: 5px;
      background-color: $green;
    }
  }

  &__item-above {
    height: 70px;
    width: 100%;
    background: transparent;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      border-bottom: 70px solid #656565;
      border-left: 100vw solid $green;
      top: 0;
      width: 100%;
    }
  }

  &__item-inside {
    background-color: #656565;
    height: 100%;
    padding: 2rem;
  }

  &__item-hover {
    position: absolute;
    top: 0;
    transform: translateY(150%);
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s;
  }

  &__item-1:hover &__item-hover {
    top: 0;
    transform: translateY(0);
  }

  &__items {
    position: relative;
    overflow: hidden;
  }

  &__items:hover &__item-hover {
    top: 0;
    transform: translateY(0);
  }

  &__item-1 {
    grid-area: project1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
      url("../../src/images/peppernew.png");
    background-size: cover;
    background-position: center;

    @include breakpoint("medium") {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
        url("../../src/images/peppernew.png");
    }
  }

  &__item-2 {
    grid-area: project2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
      url("../../src/images/parrospacenew.png");
    background-size: cover;
  }

  &__item-3 {
    grid-area: project3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
      url("../../src/images/vuejs.png");
    background-size: cover;
    background-position: center;
  }

  &__item-4 {
    grid-area: project4;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.3)
      ),
      url("../../src/images/reactnative.png");
    background-size: cover;
    background-position: center;
  }

  &__item-5 {
    grid-area: project5;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.3mer)
      ),
      url("../../src/images/places.png");
    background-size: cover;
    background-position: center;
  }

  &__item-6 {
    grid-area: project6;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../../src/images/videos.png");
    background-size: cover;
    background-position: center;
  }

  &__item-7 {
    grid-area: project7;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../../src/images/divbuilder.png");
    background-size: cover;
    background-position: center;
  }

  &__item-8 {
    grid-area: project8;
    background: $green;
  }
}
